{% for item in site.authors %}
<div class="badge-about col-lg-12 col-sm-12 col-md-12">
  <div style="display: flex">
    <div
      class="col-lg-6 col-sm-6 col-md-6"
      style="vertical-align: middle; margin: auto; display: flex; justify-content: flex-end;"
    >
        <img
          src="{{ site.url }}{{ site.baseurl }}/assets/images/main.jpg"
          alt=""
        />
      </span>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6" style="justify-content: flex-start;">
      <div id="about" style="justify-content: start">
        <h1 class="card-subtitle">{{ item.description}}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-md-6" style="margin:auto; justify-content: center;">
  <hr class="mt-3 mb-3" style="color: white; height: 20px;"></hr>
</div>
  <div
    style="
      width: 70%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: auto;
      padding: 50px;
    "
  >
    <div class="card-text">{{ item.content }}</div>
  </div>
</div>
{% endfor %}
