{% assign years = site.data.art.portfolio%} {% for y in years %}
<span class="separator" id="{{ y.year }}"> <h6>{{ y.year }}</h6></span>
<div class="card-columns" style="display: list-item">
  {% for art in y.work %}
  <div class="card w-100" style="width: auto; height: auto">
    <img
      style="min-width: 10vw; height: auto"
      class="card-img-top"
      src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ art.path }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ art.name }}</h5>
      <h6 class="card-text">{{ art.technique }}</h6>
      <p class="card-text">{{ art.details }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
